Resources/jboss-5.1.0.GA/server/default/tmp/jbossws/LibraryService1993668114796209521.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='LibraryService' targetNamespace='http://webservice.eduLibrary.com/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://webservice.eduLibrary.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://webservice.eduLibrary.com/' version='1.0' xmlns:tns='http://webservice.eduLibrary.com/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='books' type='tns:books'/>
   <xs:element name='getBooks' type='tns:getBooks'/>
   <xs:element name='getBooksResponse' type='tns:getBooksResponse'/>
   <xs:complexType name='getBooks'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='getBooksResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:books'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='books'>
    <xs:sequence>
     <xs:element minOccurs='0' name='id' type='xs:int'/>
     <xs:element minOccurs='0' name='image' type='xs:base64Binary'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='publisher' type='tns:publisher'/>
     <xs:element minOccurs='0' name='xml' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='publisher'>
    <xs:sequence>
     <xs:element minOccurs='0' name='address' type='xs:string'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='LibraryWebserviceBean_getBooks'>
  <part element='tns:getBooks' name='getBooks'/>
 </message>
 <message name='LibraryWebserviceBean_getBooksResponse'>
  <part element='tns:getBooksResponse' name='getBooksResponse'/>
 </message>
 <portType name='LibraryWebserviceBean'>
  <operation name='getBooks' parameterOrder='getBooks'>
   <input message='tns:LibraryWebserviceBean_getBooks'/>
   <output message='tns:LibraryWebserviceBean_getBooksResponse'/>
  </operation>
 </portType>
 <binding name='LibraryWebserviceBeanBinding' type='tns:LibraryWebserviceBean'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getBooks'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='LibraryService'>
  <port binding='tns:LibraryWebserviceBeanBinding' name='LibraryWebserviceBeanPort'>
   <soap:address location='http://127.0.0.1:8080/EjbModule/LibraryWebserviceBean'/>
  </port>
 </service>
</definitions>